{
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"printWidth": 120,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": [
				"src/background/*",
				"src/content-script/*",
				"src/wallet/*"
			],
			"options": {
				"useTabs": false,
				"semi": true
			}
		}
	]
}
