// required for vue-devtools
@import "/node_modules/vite-plugin-vue-devtools/src//overlay/devtools-overlay.css";

@import "./flex.scss";
@import "./text.scss";

$grayscale: (
	03: 0.03,
	05: 0.05,
	07: 0.07,
	08: 0.08,
	10: 0.1,
	15: 0.15,
	20: 0.2,
	30: 0.3,
	40: 0.4,
	50: 0.5,
	60: 0.6,
);

:root {
	--base-width: 360px;
	--base-height: 600px;

	/** general */
	--app-bg: #121212;
	--card-bg: #1d1d1d;
	--dropdown-bg: #252525;
	--border: var(--gray-7);
	--border-hovered: var(--gray-10);

	/** text */
	--txt-primary: rgba(255, 255, 255, 90%);
	--txt-secondary: rgba(255, 255, 255, 60%);
	--txt-body: rgba(255, 255, 255, 45%);
	--txt-tertiary: rgba(255, 255, 255, 30%);
	--txt-support: rgba(255, 255, 255, 25%);
	--txt-white: rgba(255, 255, 255, 95%);
	--txt-inverse: rgba(0, 0, 0, 90%);

	/** buttons */
	--btn-primary-bg: linear-gradient(#fff, rgba(255, 255, 255, 80%));
	--action-btn-bg: var(--gray-8);

	/** colors */
	--blue: #007aff;
	--green: #14ae5c;
	--orange: #ff9500;
	--red: #f03c3c;
	--purple: #5856de;
	--gray: #8e8e93;
	--sand: #b88555;

	@each $gray, $value in $grayscale {
		--op-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	@each $gray, $value in $grayscale {
		--gray-#{$gray}: rgba(255, 255, 255, #{$value});
	}

	@each $gray, $value in $grayscale {
		--shadow-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	--bezier: cubic-bezier(0.19, 1, 0.22, 1);
}

[theme="light"] {
	--base-width: 360px;
	--base-height: 600px;

	/** general */
	--app-bg: #f5f5f7;
	--card-bg: #fff;
	--dropdown-bg: #fff;
	--border: var(--gray-10);
	--border-hovered: var(--gray-15);

	/* text */
	--txt-primary: rgba(0, 0, 0, 88%);
	--txt-secondary: rgba(0, 0, 0, 60%);
	--txt-body: rgba(0, 0, 0, 45%);
	--txt-tertiary: rgba(0, 0, 0, 35%);
	--txt-support: rgba(0, 0, 0, 25%);
	--txt-white: rgba(255, 255, 255, 95%);
	--txt-inverse: rgba(255, 255, 255, 90%);

	/** buttons */
	--btn-primary-bg: linear-gradient(rgba(0, 0, 0, 90%), rgba(0, 0, 0, 70%));
	--action-btn-bg: linear-gradient(#fff, var(--gray-5));

	/** colors */
	--blue: #007aff;
	--green: #14ae5c;
	--orange: #ff9500;
	--red: #f03c3c;
	--purple: #5856de;
	--gray: #8e8e93;
	--sand: #b88555;

	/** json viewer */
	--json-property-name: #998418;
	--json-string: #b56959;
	--json-number: #2f798a;
	--json-bool: #1e754f;

	@each $gray, $value in $grayscale {
		--op-#{$gray}: rgba(255, 255, 255, #{$value});
	}

	@each $gray, $value in $grayscale {
		--gray-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	@each $gray, $value in $grayscale {
		--shadow-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	--bezier: cubic-bezier(0.19, 1, 0.22, 1);
}

[theme="dark"] {
	--base-width: 360px;
	--base-height: 600px;

	/** general */
	--app-bg: #121212;
	--card-bg: #1d1d1d;
	--dropdown-bg: #252525;
	--border: var(--gray-7);
	--border-hovered: var(--gray-10);

	/** text */
	--txt-primary: rgba(255, 255, 255, 90%);
	--txt-secondary: rgba(255, 255, 255, 60%);
	--txt-body: rgba(255, 255, 255, 45%);
	--txt-tertiary: rgba(255, 255, 255, 30%);
	--txt-support: rgba(255, 255, 255, 25%);
	--txt-white: rgba(255, 255, 255, 95%);
	--txt-inverse: rgba(0, 0, 0, 90%);

	/** buttons */
	--btn-primary-bg: linear-gradient(#fff, rgba(255, 255, 255, 80%));
	--action-btn-bg: var(--gray-8);

	/** colors */
	--blue: #007aff;
	--green: #14ae5c;
	--orange: #ff9500;
	--red: #f03c3c;
	--purple: #5856de;
	--gray: #8e8e93;
	--sand: #b88555;

	/** json viewer */
	--json-property-name: #a99d5e;
	--json-string: #bd8276;
	--json-number: #4c9a91;
	--json-bool: #4d9375;

	@each $gray, $value in $grayscale {
		--op-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	@each $gray, $value in $grayscale {
		--gray-#{$gray}: rgba(255, 255, 255, #{$value});
	}

	@each $gray, $value in $grayscale {
		--shadow-#{$gray}: rgba(0, 0, 0, #{$value});
	}

	--bezier: cubic-bezier(0.19, 1, 0.22, 1);
}

@font-face {
	font-family: "ClashDisplay";
	src: local("ClashDisplay-Medium"), url("./assets/fonts/ClashDisplay-Medium.ttf");
}

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("@/assets/fonts/InterVariable.woff2") format("woff2");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

*::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: var(--blue);

	&:focus {
		outline: none;
	}
}

button {
	font-family: inherit;
	padding: 0;
	border: none;
	outline: none;
}

input {
	font: inherit;
	border: none;
	outline: none;
	background: transparent;
}

body {
	font-family: "InterVariable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	user-select: none;
}

.slide-enter-active,
.slide-leave-active {
	transition: all 0.3s var(--bezier);
}

.slide-enter-from,
.slide-leave-to {
	transform: translateY(40px);
	opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: all 0.15s var(--bezier);
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: translateY(5px);
}

.toast-enter-active,
.toast-leave-active {
	transition: all 0.15s var(--bezier);
}

.toast-enter-from,
.toast-leave-to {
	opacity: 0;
	transform: translateX(-50%) translateY(-20px);
}

.opacity-enter-active,
.opacity-leave-active {
	transition: all 0.2s ease;
}

.opacity-enter-from,
.opacity-leave-to {
	opacity: 0;
}

.navigation-enter-active,
.navigation-leave-active {
	transition: all 0.2s var(--bezier);
}

.navigation-enter-from,
.navigation-leave-to {
	opacity: 0.3;
	transform: translateY(2px);
}

.clickable {
	cursor: pointer;
}

.copyable {
	cursor: copy;
}

.capitalize {
	text-transform: capitalize;
}

.noanimations {
	& * {
		transition: none !important;
	}
}
